@page
@model WebApp.Areas.Game.Pages.Character.IndexModel

@{
    ViewData["Title"] = "Characters";
}

<h2>@ViewData["Title"]</h2>
<a href="http://coc-revamp.wikia.com/wiki/Characters">CoC Revamp Wikia - Characters</a>
<a href="http://coc-revamp.wikia.com/wiki/Bestiary">CoC Revamp Wikia - Bestiary</a>
<hr />

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(m => Model.Species)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FirstCharacterTemplate.Skin)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FirstCharacterTemplate.Birthdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var character in Model.CharacterTemplates)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => character.Title)
                </td>
                @*<td>
                        @foreach (var tag in character.Species)
                        {
                            <span class="label label-info" title="@Html.DisplayFor(m => @tag.Description)">@Html.DisplayFor(m => @tag.Title)</span>
                        }
                    </td>*@
                <td>
                    <span class="label label-info" title="@Html.DisplayFor(m => m.CurrentSpecies.Description)">@Html.DisplayFor(m => m.CurrentSpecies.Title)</span>
                </td>
                <td>
                    @Html.DisplayFor(m => character.Skin)
                </td>
                <td>
                    @Html.DisplayFor(m => character.Birthdate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@character.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@character.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@character.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
