@page "{id:int?}"
@model WebApp.Areas.Game.Pages.Item.IndexModel

@{
    ViewData["Title"] = "Items";
}

<div style="position: relative;">
    <h2>@ViewData["Title"]</h2>

    <div style="position: absolute; top: 0; right: 0;">
        <a asp-page="./Create">Create New</a>
    </div>
</div>
<a href="http://coc-revamp.wikia.com/wiki/Items" target="_blank">CoC Revamp Wikia - Items</a>
<hr />


<div id="itemZone">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        @foreach (WebApp.Areas.Game.Models.ItemGroup itemGroup in Enum.GetValues(typeof(WebApp.Areas.Game.Models.ItemGroup)))
        {
            string itemName = Enum.GetName(typeof(WebApp.Areas.Game.Models.ItemGroup), itemGroup);
            string tabId = itemName.ToLower() + "ItemTab";

            <li role="presentation"><a href="#@tabId" aria-controls="@tabId" role="tab" data-toggle="tab">@itemName</a></li>
        }
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        @foreach (WebApp.Areas.Game.Models.ItemGroup itemGroup in Enum.GetValues(typeof(WebApp.Areas.Game.Models.ItemGroup)))
        {
            string itemName = Enum.GetName(typeof(WebApp.Areas.Game.Models.ItemGroup), itemGroup);
            string tabId = itemName.ToLower() + "ItemTab";

            <div role="tabpanel" class="tab-pane" id="@tabId">
                <div class="panel panel-primary">
                    <div class="panel-heading">@itemName Items</div>
                    <div class="panel-body">
                        These empower the core essense of your character.
                    </div>

                    @if (Model.SelectedItem == null)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(m => m.FirstItem.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => m.FirstItem.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => m.FirstItem.Origin)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => m.FirstItem.Group)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => m.FirstItem.Cost)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => m.FirstItem.Sale)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td>
                                            <a asp-page="./@item.Id" asp-route-id="@item.Id">@Html.DisplayFor(m => item.Title)</a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => item.Origin)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => item.Group)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => item.Cost)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => item.Sale)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(m => m.SelectedItem.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => m.SelectedItem.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => m.SelectedItem.Origin)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => m.SelectedItem.Group)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => m.SelectedItem.Cost)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => m.SelectedItem.Sale)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a asp-page="./@Model.SelectedItem.Id" asp-route-id="@Model.SelectedItem.Id">@Html.DisplayFor(m => m.SelectedItem.Title)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => m.SelectedItem.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => m.SelectedItem.Origin)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => m.SelectedItem.Group)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => m.SelectedItem.Cost)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => m.SelectedItem.Sale)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        }
    </div>
</div>
